[submodule "modules/util"]
	path = modules/util
	url = https://github.com/funkey/util.git
[submodule "modules/signals"]
	path = modules/signals
	url = https://github.com/funkey/signals.git
[submodule "modules/pipeline"]
	path = modules/pipeline
	url = https://github.com/funkey/pipeline.git
[submodule "modules/gui"]
	path = modules/gui
	url = https://github.com/funkey/gui.git
[submodule "modules/imageprocessing"]
	path = modules/imageprocessing
	url = https://github.com/funkey/imageprocessing.git
[submodule "cmake"]
	path = cmake
	url = https://github.com/funkey/cmake
